.staff-card {
    width: 280px;
    box-shadow: $card-shadow;
}

.staff-card > img {
    object-fit: cover;
    height: 200px;
    object-position: center 0;
}

.staff-achievements {
    max-height: 0;
    opacity: 1;
    transition: max-height 0.2s ease-in-out,
                opacity 0.2s linear;
}
