.card {
    box-shadow: $card-shadow;
    width: 250px;
}

.card header {
    height: 200px;
}

.card header img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.card-btn {
    transition: all .2s linear;
}

.modal {
    background-color: rgba(0, 0, 0, .8);
    transition: all .2s linear;
}

.course-modal button {
    transition: all .2s linear;
}
