* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

input,
textarea {
    @apply .text-grey-darker .text-sm ;
}

textarea {
    @apply .leading-loose ;
}
