.nav-bar {
    box-shadow: $card-shadow;
}

#burguer-menu>i {
    height: 2px;
}

#burguer-menu:hover>i {
    @apply .bg-grey-light;
}

.navbar a {
    transition: color .2s linear;
}

.navbar-accordion {
    max-height: 0;
    opacity: 1;
    transition: max-height 0.2s ease-in-out,
                opacity 0.2s linear;
}

.navbar-responsive {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

.navbar-responsive a {
    transition: all .2s linear;
}

#brand {
    width: 200px;
    height: auto;
}

