.nav-bar {
    box-shadow: $card-shadow;
}

#burguer-menu>i {
    height: 2px;
}

#burguer-menu:hover>i {
    @apply .bg-grey-light;
}

.navbar-accordion {
    max-height: 0;
    opacity: 1;
    transition: max-height 0.2s ease-in-out, opacity 0.2s linear;
}

.navbar-responsive {
    max-height: 0;
    transition: max-height 0.2s ease-in-out;
}

#logo {
    width: 350px;
    height: 80px;
}

#brand {
    object-fit: cover;
    object-position: left;
    margin-top: -35px;
}

