.grid-trips {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 500px 300px;
    grid-gap: 10px;
}

.trip-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.trip-01 {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
}

.trip-02 {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.trip-03 {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.trip-04 {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
}
