@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@tailwind preflight;

@tailwind utilities;

$card-shadow: 0 1px 5px #dcdcdc;

@import 'loader';

@import 'custom-reset';

@import 'navbar';

#wrapper {
    max-width: 960px;
    transition: opacity .3s linear;
}

@import 'courses-page';

@import 'about-page';

@import 'contact-page';
