@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@tailwind preflight;

@tailwind utilities;

$card-shadow: 0 1px 5px #dcdcdc;

.transition-opacity {
    transition: opacity 0.2s linear;
}

@import 'loader';

@import 'custom-reset';

@import 'navbar';

#wrapper {
    max-width: 960px;
    transition: opacity .3s linear;
}

#homepage {
    background-image: url('/img/hero/hero_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

@import 'courses-page';

@import 'trips-page';

@import 'rental-page';

@import 'about-page';

@import 'gallery';

@import 'contact-page';
