@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');

@tailwind preflight;

@tailwind utilities;

@import 'custom-reset';

$card-shadow: 0 1px 5px #dcdcdc;



#wrapper {
    max-width: 960px;
}

.course-card {
    box-shadow: $card-shadow;
    max-width: 300px;
    height: 200px;
    overflow: hidden;
}

.course-card img {
    object-fit: cover;
    opacity: 0.9;
    object-position: center center;
}

.course-card-footer {
    background-color: rgba(#fff, 0.8);
}

@import 'about-page';
